<!-- create a navigation bar -->
<nav class="p-3">
    <ul class="nav nav-pills">
      <li class="nav-item"
      *ngFor="let action of actions"
      >
        <button 
          [routerLink]="action.path"
          class="btn btn-outline-success ms-1"
          routerLinkActive="active" 
        >
          {{action.title}}
          <i class="bi bi-{{action.icon}}"></i>
        </button>
      </li>
      <!-- using async pipe to subscribe to the observable and write the result to the template -->
      <li class="nav-item" *ngIf="ls.isLoading$ | async">
        <div class="spinner-border ms-2" role="status">
        </div>
      </li>
    </ul>
  </nav>