<div class="p-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Product component</h3>
        </div>
        <div>
             <!-- justify the div to the end-->
             <div class="d-flex gap-3 ms-3" style="width: 300px;">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="appStateService.productState.keyword">
                <button class="btn btn-outline-primary" (click)="searchProducts()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <table class="table ms-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Checked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of appStateService.productState.products">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <input type="checkbox" [checked]="product.checked" (change)="handleCheckedChange(product)">
                        </td>
                        <!-- button to delete a product -->
                        <td  *ngIf="appStateService.authState.roles.includes('ADMIN')">
                            <button class="btn btn-danger" (click)="handleDeleteProduct(product)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td *ngIf="appStateService.authState.roles.includes('ADMIN')">
                            <button class="btn btn-warning" (click)="handleEditProduct(product)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pils">
                <li class="nav-item m-1" *ngFor="let page of [].constructor(appStateService.productState.totalPages); let i = index">
                    <button 
                    class="btn btn-outline-primary" [ngClass]="{'active': appStateService.productState.currentPage === i + 1}"
                    (click)="handleGoToPage(i+1)">
                        {{i + 1}}
                    </button>
                </li>
            </ul>
        </div>
        
    </div>
</div>